<script src='/static/lib/phaser.min.js'></script>
<script src='/static/lib/seedrandom.min.js'></script>
<script src='/static/lib/dat.gui.min.js'></script>
<link rel="stylesheet" href="/static/lib/dat-gui-light-theme.css">

<script src='/static/pages/procedural/dungeons/js/dungeonGenerator.js'></script>
<script src='/static/pages/procedural/dungeons/js/Level.js'></script>
<script src='/static/pages/procedural/dungeons/js/Tile.js'></script>
<script src='/static/pages/procedural/dungeons/js/settings.js'></script>
<script src='/static/pages/procedural/dungeons/js/constants.js'></script>
<script src='/static/pages/procedural/dungeons/js/phaserController.js'></script>
<script src='/static/pages/procedural/dungeons/js/datGuiController.js'></script>
<script src='/static/pages/procedural/dungeons/js/utils.js'></script>
<link rel="stylesheet" href="/static/pages/procedural/dungeons/css/styles.css">
