<div class='row'>
    <div class='col-md-2 col-xs-0'></div>

    <div class='col-md-8 col-xs-12 description-text'>
        <p>Over15 is a personal experiment of a virtual machine, an hypothetical and simple 16-bit microcontroller. It was part of a bigger project but now remains here :)</p>

        <p>The microcontroller itself is an own design, as well as the assembly language and the bytecode that the microcontroller executes. The documentation is available <a href='/web/over15/documentation'>here</a> (it is a <a href='https://en.wikipedia.org/wiki/Markdown'>Markdown</a> document, converted to HTML thanks to <a href='https://github.com/showdownjs/showdown'>Showdown</a>). Without it I couldn't implement anything, in fact it worked as my design notes.</p>

        <p>In addition to the virtual machine, I developed three tools: the assembler, the debugger, and the disassembler. Both the <a href='/web/over15/assembler'>assembler</a> and the <a href='/web/over15/debugger'>debugger</a> have a fully functional front-end: you can write a program using the assembler tool, get its binaries (bytecode) in Base64, paste them into the debugger tool and watch program running. You can find a couple of assembly code examples into the assembly tool.</p>

    <div class='col-md-2 col-xs-0'></div>
</div>