.nopadding {
    padding:    0 !important;
    margin:     0 !important;
}

.nopadding-top {
    padding-top:   0 !important;
    margin-top:    0 !important;
}

.nopadding-right {
    padding-right:  0 !important;
    margin-right:   0 !important;
}

.nopadding-bottom {
    padding-bottom:   0 !important;
    margin-bottom:    0 !important;
}

.nopadding-left {
    padding-left:   0 !important;
    margin-left:    0 !important;
}

.hightlightedline {
    color:          blue;
    font-weight:    bold;
}

.hightlightedcell {
    color:              white;
    background-color:   #00b8ce;
    font-weight:    bold;
}

.hightlightedcell-error {
    color:              white;
    background-color:   #db2c2c;
    font-weight:    bold;
}

.monospaced {
    resize:         none;
    font-family:    monospace;
    font-size:      8pt;
}

.monospaced-strong {
    resize:         none;
    font-family:    monospace;
    font-size:      8pt;
    font-weight:    bold;
}

.CodeMirror {
    border-style:   solid;
    border-width:   1px;
    border-radius:  3px;
    border-color:   #ccc;
    font-family:    monospace;
    font-size:      9pt;
    height:         auto;
}

.CodeMirror-scroll {
    min-height: 478px;
    max-height: 478px;
}