<script src='/static/lib/phaser.min.js'></script>
<script src='/static/lib/perlin.js'></script>
<script src='/static/lib/dat.gui.min.js'></script>
<link rel="stylesheet" href="/static/lib/dat-gui-light-theme.css">

<script src='/static/pages/procedural/terrain/js/WorldGenerator.js'></script>
<script src='/static/pages/procedural/terrain/js/Settings.js'></script>
<script src='/static/pages/procedural/terrain/js/PhaserController.js'></script>
<script src='/static/pages/procedural/terrain/js/DatGuiController.js'></script>
<script src='/static/pages/procedural/terrain/js/LayerProvider.js'></script>
<script src='/static/pages/procedural/terrain/js/NoiseGenerator.js'></script>
<script src='/static/pages/procedural/terrain/js/Utils.js'></script>
<link rel="stylesheet" href="/static/pages/procedural/terrain/css/styles.css">
